
                    div{
                        
                        border:1px solid black;
                        color:brown;
                        margin: 50px;
                        padding: 20px;
                        background-color:yellow
                    }
                .abc{
                    font-size:1.6em}
                    button{
                        border-radius: 10px;
                        padding:5px;
                    }
